**/*.db
**/*.tar
**/__init__*
**/*.pyc
**/*~
**/*.tmp
**/*.gz
**/*.pdf
**/*.png
**/*.eps
**/*.so
**/*.o
**/*.d
**/*.a
**/*.pcm
**/combine_logger.out
./*.root
**/test/*.root
*.log
NtupleMaker/test/*.txt
NtupleMaker/test/*.lst
NtupleMaker/test/*.sh
NtupleMaker/test/*.DAT
NtupleMaker/test/*.dat
NtupleMaker/test/br.sm*
NtupleMaker/test/Pdfdata
NtupleMaker/test/output*
NtupleMaker/test/production*
NtupleMaker/test/manualruns
NtupleMaker/test/crabConfig.py
NtupleMaker/test/xsec_cfg.py
NtupleMaker/test/crab_projects/*
NtupleMaker/test/crab_projects/crab_CMS4_from_MINIAOD_test/
AnalysisTree/test/tmp*
AnalysisTree/test/*tmp.cc
AnalysisTree/test/output*
AnalysisTree/test/outputs*
AnalysisTree/test/*.DAT
AnalysisTree/test/*.dat
AnalysisTree/test/br.sm*
AnalysisTree/test/Pdfdata
